GF_SERVER_HTTP_PORT=9200
#定义用户，我最开始使用grafana，不知道哪个文件授权有问题导致服务没法启动
GRAFANA_USER=root
#定义组 
GRAFANA_GROUP=root
#grafana的工作目录，tar包解压的路径
# GRAFANA_HOME=$GRAFANA_HOME
#grafana的日志文件，最好自己手动建好
LOG_DIR=$GRAFANA_HOME/logs
#grafana的数据存储路径，最好自己手动建好
DATA_DIR=$GRAFANA_HOME/data
#打开的最大文件数
MAX_OPEN_FILES=10000
#grafana的主配置文件夹
CONF_DIR=$GRAFANA_HOME/conf
#grafana的主配置文件
CONF_FILE=$GRAFANA_HOME/conf/sample.ini
RESTART_ON_UPGRADE=true
#grafana的组件目录，自己手动建好
PLUGINS_DIR=$GRAFANA_HOME/plugins
#grafana的provisioning的路径，tar包解压出来就有
PROVISIONING_CFG_DIR=$GRAFANA_HOME/conf/provisioning
# Only used on systemd systems
#pid存放路径，自己手动建好
PID_FILE_DIR=$GRAFANA_HOME/bin/pid.grafana
